
<!-- This is generated code, please do not change!!! -->
<% include ../partials/head.ejs %>

<div class="container pt-2">
    <% include ../partials/questionNav.ejs %>
    <% include ../partials/pairSessionInfo.ejs %>
</div>

<script>

    const QUESTION_CONFIGURATION = {
        name: "Question 7",
        scratchLink: "https://scratch.mit.edu/projects/333482558/",
        description: `
            <ul>
                <li>Input: A natural number n</li>
                <li>Output: Yes/No</li>
            </ul>
            <p>
              Return Yes if the number n is divisible by 6, return No otherwise.
            </p>
        `
    };
    
</script>

<% include partials/answerSectionB.ejs %>

<% include ../partials/foot.ejs %>
