
<!-- This is generated code, please do not change!!! -->
<% include ../partials/head.ejs %>

<div class="container pt-2">
    <% include ../partials/questionNav.ejs %>
    <% include ../partials/pairSessionInfo.ejs %>
</div>

<script>

    const QUESTION_CONFIGURATION = {
        name: "Question 10",
        scratchLink: "https://scratch.mit.edu/projects/333483415/",
        description: `
            <ul>
                <li>Input: A word string</li>
                <li>Output: A string.</li>
            </ul>
            <p>
              Return the vowels that the string does not have. Return "All vowels!" if the string has all the vowels.
            </p>
        `
    };
    
</script>

<% include partials/answerSectionB.ejs %>

<% include ../partials/foot.ejs %>
