
<!-- This is generated code, please do not change!!! -->
<% include ../partials/head.ejs %>

<div class="container pt-2">
    <% include ../partials/questionNav.ejs %>
    <% include ../partials/pairSessionInfo.ejs %>
</div>

<script>

    const QUESTION_CONFIGURATION = {
        name: "Question 5",
        image: "https://i.imgur.com/4xG0O0y.png",
        subsections: [
            {
                description: "Let my_str = BOOM. Enter what Scratch will say, in the order in what it will be said.",
                answer: [
                    "B",
                    "H",
                ]
            },
            {
                description: "Let my_str = BOAT. Enter what Scratch will say, in the order in what it will be said.",
                answer: [
                    "C",
                    "C",
                    "C",
                    "A",
                    "H",
                ]
            }
        ]
    };
    
</script>

<% include partials/answerSection.ejs %>

<% include ../partials/foot.ejs %>
