
<!-- This is generated code, please do not change!!! -->
<% include ../partials/head.ejs %>

<div class="container pt-2">
    <% include ../partials/questionNav.ejs %>
    <% include ../partials/pairSessionInfo.ejs %>
</div>

<script>

    const QUESTION_CONFIGURATION = {
        name: "Question 1",
        scratchLink: "https://scratch.mit.edu/projects/335188515",
        description: `
            <p>Create the block did_i_pass to get rid of the duplicated code.</p>

            <ul>
                <li>Input: CSCA20_mark, STAB22_mark, MATA30_mark</li>
                <li>Output: Say what you passed or fail.</li>
            </ul>
        `
    };
    
</script>

<% include partials/answerSectionB.ejs %>

<% include ../partials/foot.ejs %>
