
<!-- This is generated code, please do not change!!! -->
<% include ../partials/head.ejs %>

<div class="container pt-2">
    <% include ../partials/questionNav.ejs %>
    <% include ../partials/pairSessionInfo.ejs %>


<style>
    .output-box {
        width: 50px;
        height: 50px;
    }
</style>

<script>
function checkBoxes() {
  var x = document.getElementById("myCheck").checked & document.getElementById("myCheck2").checked;
  document.getElementById("answ").innerHTML = !!x;
}
</script>

<div id="q1">
    <h1>Question 1</h1>

    <p>Click on the button below to get the output. It might change depending on what you have selected:</p>
    <input type="checkbox" id="myCheck">  <input type="checkbox" id="myCheck2">
    <button onclick="checkBoxes()">?</button>

    <p> Output: <output id="answ"></output> </p>

</div>




    <% include ../partials/questionChoices.ejs %>
</div>

<% include ../partials/foot.ejs %>
