
<!-- This is generated code, please do not change!!! -->
<% include ../partials/head.ejs %>

<div class="container pt-2">
    <% include ../partials/questionNav.ejs %>
    <% include ../partials/pairSessionInfo.ejs %>


<style>
    .output-box {
        width: 50px;
        height: 50px;
    }
</style>

<script>


function checkDate() {
  var datePicked = new Date(document.getElementById("selection").value);
  var day = datePicked.getDate();
  var month = datePicked.getMonth();

  if ((document.getElementById("selection").value == "2019-01-01") ||
      (day == 17 && month == 1) ||
      (day == 18 && month == 3) ||
      (day == 21 && month == 3) ||
      (day == 19 && month == 4) ||
      (document.getElementById("selection").value == "2019-07-01") ||
      (day == 4 && month == 7) ||
      (day == 1 && month == 8) ||
      (day == 13 && month == 9) ||
      (day == 10 && month == 10) ||
      (day == 24 && month == 11) ||
      (day == 25 && month == 11) ){
    document.getElementById("answ").innerHTML = "true";
  } else {
    document.getElementById("answ").innerHTML = "false";
  }
}
</script>

<!-- Safari and IE (v. 11 or earlier) do not support the datepicker, but that should not be
an issue because labs are in-class and we can ask everyone to use Chrome or Firefox -->

<div id="q18">
    <h1>Question 18</h1>

    <p>Click on the button below to get the output. It might change depending on what you have selected:</p>
    <p> <input type="date" id="selection" min="2019-01-01" max="2019-12-31"> <button onclick="checkDate()">?</button> <p>

    <p> Output: <output id="answ"></output> </p>

</div>




    <% include ../partials/questionChoices.ejs %>
</div>

<% include ../partials/foot.ejs %>
