
<!-- This is generated code, please do not change!!! -->
<% include ../partials/head.ejs %>

<div class="container pt-2">
    <% include ../partials/questionNav.ejs %>
    <% include ../partials/pairSessionInfo.ejs %>


<style>
    .output-box {
        width: 50px;
        height: 50px;
    }
</style>

<script>


function checkDate() {
  var datePicked = new Date(document.getElementById("selection").value);
  var current = new Date();
  var one_day=1000*60*60*24;
  var diff_ms = current.getTime() - datePicked.getTime();
  var diff = Math.round(diff_ms/one_day);

  if (diff >= 6575){
    document.getElementById("answ").innerHTML = "true";
  } else {
    document.getElementById("answ").innerHTML = "false";
  }
}
</script>

<!-- Safari and IE (v. 11 or earlier) do not support the datepicker, but that should not be
an issue because labs are in-class and we can ask everyone to use Chrome or Firefox -->

<div id="q17">
    <h1>Question 17</h1>

    <p>Click on the button below to get the output. It might change depending on what you have selected:</p>
    <p> <input type="date" id="selection"> <button onclick="checkDate()">?</button> <p>

    <p> Output: <output id="answ"></output> </p>
</div>




    <% include ../partials/questionChoices.ejs %>
</div>

<% include ../partials/foot.ejs %>
