
<!-- This is generated code, please do not change!!! -->
<% include ../partials/head.ejs %>

<div class="container pt-2">
    <% include ../partials/questionNav.ejs %>
    <% include ../partials/pairSessionInfo.ejs %>
</div>

<script>

    const QUESTION_CONFIGURATION = {
        name: "Question 5",
        scratchLink: "https://scratch.mit.edu/projects/338848155",
        description: `
            <p>Task: Create the block add_list based on the details below. You can use the main block to test add_list.</p>

            <ul>
                <li>Input: list of numbers</li>
                <li>Output: the sum of the numbers in the list</li>
            </ul>
        `
    };
    
</script>

<% include partials/answerSectionB.ejs %>

<% include ../partials/foot.ejs %>
