
<!-- This is generated code, please do not change!!! -->
<% include ../partials/head.ejs %>

<div class="container pt-2">
    <% include ../partials/questionNav.ejs %>
    <% include ../partials/pairSessionInfo.ejs %>
</div>

<script>

    const QUESTION_CONFIGURATION = {
        name: "Question 4",
        scratchLink: "https://scratch.mit.edu/projects/338834574",
        description: `
            <p>Task: Implement the block find_vowels to count how many vowels there are on a word.</p>

            <ul>
                <li>Input: word (string)</li>
                <li>Output: "There are more vowels!" if there are more (lowercase) vowels than all other characters, otherwise "There are fewer vowels!" ie. determine if the majority of the characters in the string are vowels.</li>
            </ul>
        `
    };
    
</script>

<% include partials/answerSectionB.ejs %>

<% include ../partials/foot.ejs %>
