
<!-- This is generated code, please do not change!!! -->
<% include ../partials/head.ejs %>

<div class="container pt-2">
    <% include ../partials/questionNav.ejs %>
    <% include ../partials/pairSessionInfo.ejs %>
</div>

<script>

    const QUESTION_CONFIGURATION = {
        name: "Question 3",
        image: "https://www.evernote.com/l/Aq38YvDxMG1CxoeFP2DatBAEw__uhkfKkuwB/image.png",
    };
    
</script>

<% include partials/answerSection.ejs %>

<% include ../partials/foot.ejs %>
