<hr/>
<h4>Enter your answer:</h4>
<form method="post">
    <input class="form-control" name="response" placeholder="Type your response here..." />
    <br/>
    <button class="btn btn-primary">Save & Back to Question List</button>
</form>
