
<!-- This is generated code, please do not change!!! -->
<% include ../partials/head.ejs %>

<div class="container pt-2">
    <% include ../partials/questionNav.ejs %>
    <% include ../partials/pairSessionInfo.ejs %>
</div>

<script>

    const QUESTION_CONFIGURATION = {
        name: "Question 2",
        scratchLink: "https://scratch.mit.edu/projects/336027237",
        description: `
            <p>Implement the block perimeter. Hint: Try using the instruction “item # of ____ in shapes”</p>

            <ul>
                <li>Input: shape (triangle, square, pentagon, hexagon, heptagon, or octagon)</li>
                <li>Output: perimeter</li>
            </ul>
        `
    };
    
</script>

<% include partials/answerSectionB.ejs %>

<% include ../partials/foot.ejs %>
