
<!-- This is generated code, please do not change!!! -->
<% include ../partials/head.ejs %>

<div class="container-fluid pt-2">
    <% include ../partials/questionNav.ejs %>
    <% include ../partials/pairSessionInfo.ejs %>
    <div class="row">
        <div class="col-md-6">
            <h3>Question</h3>

            <h5>Input</h5>
            <p>num_slices (integer >= 0), num_people(integer >= 0)</p>
            <h5>Output</h5>
            <p>slices per people</p>
            <h5>Behaviour</h5>
            <p>Return the number of slices per person given the number of people
               who want pizza and the slices available, a person can only get full slices.
               If there is not enough pizza, return: "Not enough pizza!"</p>
            <script>
                function algorithm(input) {
                    var no_space = input.split(' ').join('').toLowerCase();
                    var array_input = no_space.split(',');
                    var output;
                    if (parseInt(array_input[1],10) == 0) {
                        output = array_input[0];
                    } else if (parseInt(array_input[0],10) < parseInt(array_input[1],10)) {
                        output = "Not enough pizza!";
                    } else if (input == "") {
                        output = "";
                    } else {
                        output = Math.floor(parseInt(array_input[0],10)/parseInt(array_input[1],10));
                    }
                    return output;
                }
            </script>
            
    </div>
        <% include partials/answerSectionB.ejs %>
    </div>

</div>

<% include ../partials/foot.ejs %>
