
<!-- This is generated code, please do not change!!! -->
<% include ../partials/head.ejs %>

<div class="container pt-2">
    <% include ../partials/questionNav.ejs %>
    <% include ../partials/pairSessionInfo.ejs %>
    <div class="row">
        <div class="col-md-6">
            <h3>Question</h3>

            <h5>Inputs</h5>
            <p>list1 (list of one-digit integers), list2 (list of one-digit integers)</p>
            <h5>Outputs</h5>
            <p>added list (list of one-digit integers)</p>
            <h5>Expected Behaviour</h5>
            <p>Return the list that represents the sum of two numbers represented by list1 and list2</p>
            <p> Eg: the number 12 is represented by [1,2] and the number 91 is represented by [9,1]. Then, adder([1,2], [9,1]) will return [1,0,3] </p>
            
    </div>
        <% include partials/answerSection.ejs %>
    </div>

</div>

<% include ../partials/foot.ejs %>
