
<!-- This is generated code, please do not change!!! -->
<% include ../partials/head.ejs %>

<div class="container-fluid pt-2">
    <% include ../partials/questionNav.ejs %>
    <% include ../partials/pairSessionInfo.ejs %>
</div>

<script>

    const QUESTION_CONFIGURATION = {
        description: `
            <h5>Question 9</h5>
            <p>
                List what vowels a string has or does not have. Please enter your inputs in the following order, if there are multiple inputs, separate them using comma:
            </p>
            <ul>
                <li>my_str - string</li>
            </ul>
        `,
        image: "https://i.imgur.com/yteCTjP.png",
        inputs: [
            // You put a list of input types here, available types are:
            // float, integer, boolean, string
            'string',

        ],
        // You don't have to parse the input, they will be given to you with the correct type defined above.
        // In this case, only one input is defined with type integer.
        algorithm(my_str) {
          if (my_str.includes("a") || my_str.includes("A")) {
            if (my_str.includes("e") || my_str.includes("E")){
              if (my_str.includes("i") || my_str.includes("I")){
                if (my_str.includes("o") || my_str.includes("O")){
                  if (my_str.includes("u") || my_str.includes("U")){
                    return "All vowels!";
                  } else {
                    return "No letter u";
                  }
                }
                return "No letter o or u";
              }
              return "No letter i or o or u";
            }
            return "No letter e or i or o or u";
          }
        }
    };
    
</script>

<% include partials/answerSectionB.ejs %>

<% include ../partials/foot.ejs %>
