
<!-- This is generated code, please do not change!!! -->
<% include ../partials/head.ejs %>

<div class="container pt-2">
    <% include ../partials/questionNav.ejs %>
    <% include ../partials/pairSessionInfo.ejs %>
</div>

<script>

    const QUESTION_CONFIGURATION = {
        name: "Question 1",
        image: "https://i.imgur.com/bJGqHFZ.png",
        subsections: [
            {
                description: "Let my_num = 1. Enter what Scratch will say, in the order in what it will be said.",
                answer: [
                    "Hello!",
                ]
            },
            {
                description: "Let my_num =  2. Enter what Scratch will say, in the order in what it will be said.",
                answer: [
                    "Hello!",
                    "4",
                ]
            }
        ]
    };
    
</script>

<% include partials/answerSection.ejs %>

<% include ../partials/foot.ejs %>
