
<!-- This is generated code, please do not change!!! -->
<% include ../partials/head.ejs %>

<div class="container-fluid pt-2">
    <% include ../partials/questionNav.ejs %>
    <% include ../partials/pairSessionInfo.ejs %>
</div>

<script>

    const QUESTION_CONFIGURATION = {
        description: `
            <h5>Question 8</h5>
            <p>
                Check if a person is a first year student. Please enter your inputs in the following order, if there are multiple inputs, separate them using comma:
            </p>
            <ul>
                <li>student_id - integer</li>
                <li>year_of_study - integer >= 0</li>
            </ul>
        `,
        image: "https://i.imgur.com/DJ77RHU.png",
        inputs: [
            // You put a list of input types here, available types are:
            // float, integer, boolean, string
            'integer',
            'integer',
        ],
        // You don't have to parse the input, they will be given to you with the correct type defined above.
        // In this case, only one input is defined with type integer.
        algorithm(student_id, year_of_study) {
          if (student_id.toString().length == 9 | student_id.toString().length == 10){
            if (parseInt(year_of_study, 10) > 1) {
              return "Not first year"
            } else {
              return "First year"
            }
            return "Not a student!";
          }
        }
    };
    
</script>

<% include partials/answerSectionB.ejs %>

<% include ../partials/foot.ejs %>
