<style>
    .answer-textarea {
        height: calc(100vh - 170px) !important;
        font-family: monospace;
    }
</style>

<div class="col-md-6">
    <h3>Your Answer</h3>
    <form method="post" id="answer-form">
        <textarea class="form-control answer-textarea" form="answer-form" name="response"><% if(!response) { %># How will you divide the tests into multiple areas?

# How many tests do you need to thoroughly test this program? Describe them.<% } else { %><%= response %><% } %></textarea>
        <button class="btn btn-primary mt-2">Submit</button>
    </form>
</div>
