
<!-- This is generated code, please do not change!!! -->
<% include ../partials/head.ejs %>

<div class="container-fluid pt-2">
    <% include ../partials/questionNav.ejs %>
    <% include ../partials/pairSessionInfo.ejs %>
    <div class="row">
        <div class="col-md-6">
            <h3>Question</h3>

            <h5>Input</h5>
            <p> number (integer)</p>
            <h5>Output</h5>
            <p>word (string)</p>
            <h5>Behaviour</h5>
            <p>Return true if and only if a person will pass a course</p>
            <p>- If a number is multiple of 3, return "Fizz"</p>
            <p>- If a number is multiple of 5, return "Buzz"</p>
            <p>- If a number is a multiple of 15, return "FizzBuzz"</p>
            <script>
                function algorithm(input) {
                    var output;
                    if (input == ""){
                        output = "";
                    } else if (input%3 == 0) {
                        output = "Fizz"
                    } else if (input%15 == 0) {
                        output = "FizzBuzz";
                    } else if (input%5 == 0){
                        output = "Buzz";
                    } else {
                        output = "Nothing";
                    }
                    return output;
                }
            </script>
            
    </div>
        <% include partials/answerSectionB.ejs %>
    </div>

</div>

<% include ../partials/foot.ejs %>
