<% include ../partials/head.ejs %>

<div class="container pt-2">
    <% include ../partials/questionNav.ejs %>
    <h2>Question 1</h2>

    <% include ../partials/questionChoices.ejs %>
</div>

<% include ../partials/foot.ejs %>
