
<!-- This is generated code, please do not change!!! -->
<% include ../partials/head.ejs %>

<div class="container pt-2">
    <% include ../partials/questionNav.ejs %>
    <% include ../partials/pairSessionInfo.ejs %>


<style>
    .output-box {
        width: 50px;
        height: 50px;
    }
</style>

<script>
function checkBoxes() {
  var box1 = document.getElementById("myCheck1").checked;
  var box2 = document.getElementById("myCheck2").checked;
  var box3 = document.getElementById("myCheck3").checked;
  var box4 = document.getElementById("myCheck4").checked;
  var box5 = document.getElementById("myCheck5").checked;
  var box6 = document.getElementById("myCheck6").checked;
  var x = ~box1 & box2 & ~box3 & ~box4 & ~box5 & box6;
  var y = ~box1 & ~box2 & box3 & ~box4 & box5 & ~box6;
  var z = ~box1 & ~box2 & ~box3 & box4 & ~box5 & ~box6;
  document.getElementById("answ").innerHTML = !!(x | y | z);
}
</script>

<div id="q16">
    <h1>Question 16</h1>

    <p>Click on the button below to get the output. It might change depending on what you have selected:</p>
    <p> <input type="checkbox" id="myCheck1"> 5</p>
    <p> <input type="checkbox" id="myCheck2"> 9</p>
    <p> <input type="checkbox" id="myCheck3"> 4</p>
    <p> <input type="checkbox" id="myCheck4"> 10</p>
    <p> <input type="checkbox" id="myCheck5"> 6</p>
    <p> <input type="checkbox" id="myCheck6"> 1</p>

    <p> <button onclick="checkBoxes()">Check!</button> </p>

    <p> Output: <output id="answ"></output> </p>
</div>




    <% include ../partials/questionChoices.ejs %>
</div>

<% include ../partials/foot.ejs %>
